.nav-container {
    background: blue;
}


/* header {
    background-color: $color-primary;
}
nav {
    padding: 10px 20px;

    .nav-container {
        display: $d-flex;
        justify-content: $justify-space-between;
        align-items: $align-center;
    }

    img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
    }

    ul {
        list-style: none;
        display: $d-flex;
    }

    li {
        margin-left: 25px;
    }

    a {
        text-decoration: none;
        color: rgb(13, 59, 227);
    }
} */