@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Cleaned & unified SCSS for header + navigation (burger menu)
   -----------------------------------------------------------
   – mobile‑first, then overrides for ≥ 768 px
   – one media‑query block
   – consistent z‑index layering: header(1000) > menu(999) > content(1)
*/
/* helpers */
/* ----- RESET ----- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ----- HEADER ----- */
header {
  width: 100%;
  margin-bottom: 35px;
  font-family: "Arial";
  position: relative;
}
header .nav-logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- NAVIGATION ----- */
nav {
  padding: 10px;
  position: relative;
  /* base for absolute menu */
  z-index: 1000;
  /* logo */
  /* burger button */
  /* nav list (mobile default hidden) */
  /* ----- DESKTOP ≥768px ----- */
}
nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav .nav-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 25px;
}
nav .burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  width: 70px;
  height: 70px;
  /* above menu */
}
nav .burger span {
  width: 25px;
  height: 3px;
  background: #000;
  border-radius: 2px;
  transition: all 0.3s ease;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 1rem 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
}
nav ul.open {
  display: flex;
}
nav ul li {
  text-align: center;
}
nav ul li a {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  margin: 0 20px;
}
@media (min-width: 768px) {
  nav .burger {
    display: none;
  }
  nav ul {
    position: static;
    display: flex;
    /* always visible */
    flex-direction: row;
    background: transparent;
    box-shadow: none;
    gap: 0;
    padding: 0;
  }
  nav ul li a {
    font-size: 20px;
    margin-right: 20px;
  }
}

footer {
  padding-bottom: 15px;
}
footer .footer-container {
  max-width: 1050px;
  margin: auto;
}
footer p {
  font-family: "Dancing Script", cursive;
  font-size: 8px;
  text-align: center;
  color: black;
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
footer ul li {
  padding-left: 10px;
  padding-right: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Для плавности эффекта */
}
footer ul li img {
  width: 20px;
  height: 20px;
}
footer ul li img:hover {
  transform: scale(1.1);
  /* Увеличение на 5% */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Тень */
  cursor: pointer;
  /* Курсор-палец */
}
footer ul svg {
  filter: drop-shadow(0 0 2px white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.contact-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  color: black;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px;
}

.contact-grid {
  max-width: 400px;
  margin: auto;
}

.contact-wrapper {
  padding: 0 20px;
  text-align: center;
  min-height: 70vh;
}

.contact-wrapper h1 {
  font-family: "GFS_Didot";
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.contact-wrapper p {
  color: black;
  font-size: 1.1rem;
}

.contact-paragr {
  font-family: "Arial";
  font-weight: 700;
}

.contact-form,
.contact-info {
  flex: 1 1;
  background: white;
  padding: 2rem;
  border-radius: 3px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  background: white;
  text-align: center;
}

.contact-item {
  margin-bottom: 2rem;
}
.contact-item:last-child {
  margin-bottom: 0;
}

.label {
  font-family: "Arial";
  color: black;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.contact-info h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact-info a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #050404;
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}

.social-names {
  font-family: "Arial", cursive;
  color: black;
  font-size: 2rem;
}
.social-names a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.contact-info p {
  color: #050404;
  text-align: center;
  font-family: "Arial";
  font-size: clamp(1.4rem, 1.3vw, 2rem);
}

.contact-info a:hover {
  text-decoration: underline;
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0;
}

.social-icons img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.contacts-footer {
  margin-top: 50px;
}

.main-contacts {
  flex: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body.home {
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background-color: #fdf4f7;
  overflow-x: hidden;
  background-image: url("../images/IMG_5188 2.JPG");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

main {
  flex: 1;
}

.info-block {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  padding-right: 25px;
}
@media (max-width: 480px) {
  .info-block {
    padding-left: 25px;
  }
}

.main-page-description h3 {
  padding-top: 15px;
  margin-bottom: 15px;
  font-family: "Arial";
  text-align: center;
}

.main-text-container {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(80, 72, 76, 0.2);
  transition: all 0.3s ease;
  filter: brightness(0.8) contrast(0.9) saturate(1.4);
}
.main-text-container h1 {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  color: #fff;
}
.main-text-container ul {
  list-style: none;
}
.main-text-container ul li {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 500;
  font-size: clamp(1rem, 2vw, 1.4rem);
  color: black;
  margin-bottom: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body.collection {
  background-color: #fafafa;
  padding: 0 20px;
  overflow-x: hidden;
}

.collection-container {
  max-width: 1000px;
  margin: auto;
}

.collection-h1 {
  font-family: "GFS_Didot";
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: clamp(1.4rem, 2vw, 2rem);
  margin-top: 40px;
  text-align: center;
}

.category {
  margin-bottom: 60px;
  max-width: 800px;
  margin: auto;
}
.category h2 {
  font-family: "Arial";
  margin-bottom: 25px;
  font-size: clamp(1.4rem, 2vw, 2rem);
}

.carousel-container {
  position: relative;
  margin-top: 20px;
  overflow-x: hidden;
  width: 100%;
}
.carousel-container .carousel {
  display: flex;
  scroll-padding-left: 0;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  transition: transform 0.3s ease-in-out;
  padding: 0;
  margin: 0;
}
.carousel-container .carousel::-webkit-scrollbar {
  display: none;
}
.carousel-container .carousel img {
  width: auto;
  max-width: 250px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  cursor: pointer;
}

.lightbox {
  display: none;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

/* .lightbox.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
} */
.lightbox.active {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 5px;
  display: block;
}

.lightbox-close,
.lightbox-nav {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.lightbox-close {
  top: 20px;
  right: 30px;
}

.lightbox-nav.left {
  left: 200px;
}
@media (max-width: 480px) {
  .lightbox-nav.left {
    left: 6px;
  }
}
@media (max-width: 768px) {
  .lightbox-nav.left {
    left: 10px;
  }
}
@media (max-width: 834px) {
  .lightbox-nav.left {
    left: 20px;
  }
}

.lightbox-nav.right {
  right: 200px;
}
@media (max-width: 480px) {
  .lightbox-nav.right {
    right: 6px;
  }
}
@media (max-width: 768px) {
  .lightbox-nav.right {
    right: 10px;
  }
}
@media (max-width: 834px) {
  .lightbox-nav.right {
    right: 20px;
  }
}

@media (max-width: 480px) {
  .glide__slide {
    display: flex;
    justify-content: center;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 768px) {
  .glide__slide {
    display: flex;
    justify-content: center;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.glide__slide img {
  max-width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  display: block;
}

@media (max-width: 768px) {
  .carousel img,
  .glide__slide img {
    max-width: 262.5px !important;
  }
}
@media (max-width: 480px) {
  .carousel img,
  .glide__slide img {
    max-width: 262.5px !important;
  }
}
.glide {
  max-width: 1050px;
  margin: 0 auto;
  position: relative;
}

.glide__slides {
  align-items: center;
}

.glide__arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  pointer-events: none;
  min-width: 44px;
  padding: 0.5rem 1rem;
  z-index: 1000;
  /* чтобы клики были только по кнопкам */
}

.glide__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: black;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  pointer-events: auto;
  /* включаем клики */
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 10;
}

/* .glide__arrow:hover {
    transform: translateY(-50%) scale(1.8);
    background-color: rgba(0, 0, 0, 0);

} */
/* Левая стрелка */
.glide__arrow--left {
  position: absolute;
  left: -40px;
}
@media (max-width: 480px) {
  .glide__arrow--left {
    left: -25px;
  }
}
@media (max-width: 780px) {
  .glide__arrow--left {
    left: -25px;
  }
}
@media (max-width: 1100px) {
  .glide__arrow--left {
    left: -25px;
  }
}

/* Правая стрелка */
.glide__arrow--right {
  position: absolute;
  right: -40px;
}
@media (max-width: 480px) {
  .glide__arrow--right {
    right: -25px;
  }
}
@media (max-width: 780px) {
  .glide__arrow--right {
    right: -25px;
  }
}
@media (max-width: 1100px) {
  .glide__arrow--right {
    right: -25px;
  }
}

.footer-collection {
  margin-top: 20px;
}

@font-face {
  font-family: "GFS Didot";
  src: url("/fonts/GFS_Didot/GFSDidot-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body.works {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background-color: #fafafa;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px;
}
body.works .works-section,
body.works .container-works {
  background-color: inherit;
}
body.works .container-works {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 480px) {
  body.works .container-works {
    padding: 10px;
  }
}
body.works h1#works {
  text-align: center;
  font-family: "GFS_Didot";
  font-weight: 700;
  color: black;
  font-size: clamp(1.8rem, 2vw, 2.2rem);
  margin-bottom: 2rem;
}
body.works .item-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 15px;
  margin-bottom: 75px;
}
@media (max-width: 768px) {
  body.works .item-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
body.works .item-image img {
  width: 180px;
  height: auto;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
@media (max-width: 768px) {
  body.works .item-image img {
    width: 140px;
  }
}
@media (max-width: 480px) {
  body.works .item-image img {
    width: 100px;
  }
}

.text-container h2 {
  color: red;
}

.flip-inner img {
  padding: 0;
}

.text-container {
  padding: 20px;
  flex: 1;
  color: black;
  min-width: 250px;
  background-color: white;
  max-width: 800px;
}
.text-container h2 {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .text-container {
    padding: 10px;
    font-size: 0.95rem;
  }
}
.text-container ul {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  list-style: none;
  line-height: 1.7;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.text-container ul li {
  margin-bottom: 10px;
}

.flip-card {
  width: 100%;
  max-width: 220px;
  aspect-ratio: 2/3;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
}
.flip-card img {
  border-radius: 3px;
  overflow: hidden;
}
.flip-card.flipped .flip-inner {
  transform: rotateY(180deg);
}
.flip-card .flip-icon {
  backface-visibility: hidden;
  transform: none !important;
  z-index: 2;
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
}
.flip-card .flip-icon svg {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #000000;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.flip-card .flip-icon svg:hover {
  opacity: 1;
}
.flip-card .flip-inner {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card .flip-inner img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  backface-visibility: hidden;
  max-width: 100%;
}
.flip-card .flip-inner img.back {
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  .flip-card {
    max-width: 50vw;
    max-height: 70%;
    aspect-ratio: 2/3;
  }
  .flip-inner {
    padding-top: 40px;
    max-width: 300px;
    max-height: 400px;
    margin: auto;
  }
}/*# sourceMappingURL=main.css.map */