@import 'variables';



* {
    margin: 0;
    padding: 0;
}

.container-works {
    max-width: 1150px;
    margin: auto;
}

.item-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    // flex-wrap: wrap;
}

.text-container {
    max-width: 800px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    line-height: 1.6;
}

.item-image {
    width: 200px;
    min-width: 180px;
    margin-right: 40px;
}

img {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 20px;
    flex-shrink: 0;
    object-fit: cover;

}

main {
    section {
        h1 {
            text-align: center;
            font-family: $roboto-font;
            font-weight: $font-roboto-weight900;
            font-size: 48px;
            color: blueviolet;
        }

        h2 {
            color: black;
            margin-bottom: 20px;
        }

        #socks {
            color: rgb(15, 92, 95);
            font-family: $roboto-font;
            font-weight: $font-robot-weight500;
        }

        #bags {
            color: rgb(128, 33, 33);
            font-family: $roboto-font;
            font-weight: $font-robot-weight500;
        }

        #other-works {
            color: rgb(111, 83, 5);
            font-family: $font-roboto;
            font-weight: $font-robot-weight500;
        }

        p {
            margin-bottom: 20px
        }

        #p-discription {
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 20px 0;
            line-height: 1.6;

            li {
                list-style: none;
                margin-bottom: 11px;
            }
        }

        .summer-bags-text-cont {
            background-color: #fef9e7;
            border-radius: 2%;
        }

        .socks-text-cont {
            background-color: #e0f7fa;
            border-radius: 2%;
        }

        .other-text-cont {
            background-color: rgb(239, 231, 121);
            border-radius: 2%;
        }


    }
}