*,
*::before,
*::after {
    box-sizing: border-box;
}


$color-bg: #e1d8db;
$color-text: black;
$carousel-gap: 16px;
$carousel-item-size: 250px;

body.collection {
    background-color: #fafafa;
    padding: 0 20px;
    overflow-x: hidden;
}

.collection-container {
    max-width: 1000px;
    margin: auto;
}


.collection-h1 {
    font-family: 'GFS_Didot';
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
}

h2 {
    font-size: clamp(1.4rem, 2vw, 2rem);
    margin-top: 40px;
    text-align: center;
}

.category {
    margin-bottom: 60px;
    max-width: 800px;
    margin: auto;

    h2 {
        font-family: 'Arial';
        margin-bottom: 25px;
        font-size: clamp(1.4rem, 2vw, 2rem);
    }
}

.carousel-container {
    position: relative;
    // overflow: hidden;
    margin-top: 20px;
    overflow-x: hidden;
    width: 100%;


    .carousel {
        display: flex;
        scroll-padding-left: 0;
        flex-wrap: nowrap;
        scroll-behavior: smooth;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        transition: transform 0.3s ease-in-out;
        padding: 0;
        margin: 0;

        &::-webkit-scrollbar {
            display: none;
        }

        img {
            width: auto;
            max-width: 250px;
            height: auto;
            object-fit: cover;
            border-radius: 12px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            flex-shrink: 0;
            cursor: pointer;
        }
    }
}



.lightbox {
    display: none;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

/* .lightbox.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
} */

.lightbox.active {
    display: flex;
    opacity: 1;
    pointer-events: auto;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    display: block;
}

.lightbox-close,
.lightbox-nav {
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

.lightbox-close {
    top: 20px;
    right: 30px;
}

.lightbox-nav.left {
    left: 200px;

    @media (max-width: 480px) {
        left: 6px;
    }

    @media (max-width: 768px) {
        left: 10px;
    }

    @media (max-width:834px) {
        left: 20px;
    }
}

.lightbox-nav.right {
    right: 200px;

    @media (max-width: 480px) {
        right: 6px;
    }

    @media (max-width: 768px) {
        right: 10px;
    }

    @media (max-width:834px) {
        right: 20px;
    }
}

.glide__slide {
    @media (max-width: 480px) {
        display: flex;
        justify-content: center;
        max-width: 100%;
        object-fit: cover;

    }

    @media (max-width:768px) {
        display: flex;
        justify-content: center;
        max-width: 100%;
        object-fit: cover;

    }
}

.glide__slide img {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 3px;
    display: block;


}

@media (max-width: 768px) {

    .carousel img,
    .glide__slide img {
        max-width: 262.5px !important;
    }
}

@media (max-width: 480px) {

    .carousel img,
    .glide__slide img {
        max-width: 262.5px !important;
    }
}


.glide {
    max-width: 1050px;
    margin: 0 auto;
    // overflow: hidden;
    position: relative;
}

.glide__slides {
    align-items: center;
}

.glide__arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    pointer-events: none;
    min-width: 44px;
    // min-height: 44px;
    padding: 0.5rem 1rem;
    z-index: 1000;
    /* чтобы клики были только по кнопкам */
}

.glide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: black;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    pointer-events: auto;
    /* включаем клики */
    border-radius: 50%;
    user-select: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 10;
}

/* .glide__arrow:hover {
    transform: translateY(-50%) scale(1.8);
    background-color: rgba(0, 0, 0, 0);

} */

/* Левая стрелка */
.glide__arrow--left {
    position: absolute;
    left: -40px;

    @media (max-width: 480px) {
        left: -25px;
    }

    @media (max-width: 780px) {
        left: -25px;
    }

    @media (max-width: 1100px) {
        left: -25px;
    }
}

/* Правая стрелка */
.glide__arrow--right {
    position: absolute;
    right: -40px;

    @media (max-width: 480px) {
        right: -25px;
    }

    @media (max-width: 780px) {
        right: -25px;
    }

    @media (max-width: 1100px) {
        right: -25px;
    }
}

.footer-collection {
    margin-top: 20px;
}