*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$color-bg: #fdf6f8;
$color-text: black;
$carousel-gap: 16px;
$carousel-item-size: 250px;


body.contact-page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    color: $color-text;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px;
}

.contact-grid {
    max-width: 400px;
    margin: auto;
}

.contact-wrapper {
    padding: 0 20px;
    text-align: center;
    min-height: 70vh;
}

.contact-wrapper h1 {
    font-family: 'GFS_Didot';
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.contact-wrapper p {
    color: black;
    font-size: 1.1rem;
}

.contact-paragr {
    font-family: 'Arial';
    font-weight: 700;
}



.contact-form,
.contact-info {
    flex: 1 1;
    background: white;
    padding: 2rem;
    border-radius: 3px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 700px;
    margin: 0 auto;
    background: white;
    text-align: center;
}

.contact-item {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.label {
    font-family: 'Arial';
    color: black;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}


.contact-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contact-info a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #050404;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.social-names {
    font-family: 'Arial', cursive;
    color: black;
    font-size: 2rem;

    a {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
    }
}

.contact-info p {
    color: #050404;
    text-align: center;
    font-family: 'Arial';
    font-size: clamp(1.4rem, 1.3vw, 2rem);

}

.contact-info a:hover {
    text-decoration: underline;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 0;
}

.social-icons img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.contacts-footer {
    margin-top: 50px;
}


.main-contacts {
    flex: 1;
}