*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$font-main: 'Dancing Script', cursive;
$color-bg: #fdf6f8;
$color-text: #4B3B47;
$carousel-gap: 16px;
$carousel-item-size: 250px;


body.contact-page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
    background-color: #fafafa;
    color: $color-text;
    overflow-x: hidden;
    overflow-y: auto;
}

.contact-wrapper {
    padding: 0 20px;
    text-align: center;
}

.contact-wrapper h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-wrapper p {
    color: #6a4e57;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.contact-paragr {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.contact-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
}

.contact-form,
.contact-info {
    flex: 1 1;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 900px;
    margin: 0 auto;
    // padding: 3rem 2rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.contact-item {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.label {
    font-family: 'Arial', sans-serif;
    color: #4B3B47;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}


.contact-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contact-info a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #79404e;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.social-names {
    font-family: 'Arial', cursive;
    color: #4B3B47;
    font-size: 2rem;

    a {
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;
    }
}

.contact-info p {
    text-align: center;
    font-size: 26px;

}

.contact-info a:hover {
    text-decoration: underline;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 0;
}

.social-icons img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.contacts-footer {
    margin: 0;
    padding: 0;
}


.main-contacts {
    flex: 1;
}