footer {
    .footer-container {
        max-width: 1050px;
    }

    p {
        text-align: center
    };
    ul {
        display: $d-flex;
        justify-content: center;
        list-style: none;

        li {
            padding: 10px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            /* Для плавности эффекта */
        }

        li img:hover {
            transform: scale(1.1);
            /* Увеличение на 5% */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            /* Тень */
            cursor: pointer;
            /* Курсор-палец */
        }
    }
}