header {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Dancing Script', sans-serif;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .header-text {
        font-size: 30px;
        font-style: italic;
        text-decoration: solid;
        color: rgb(67, 21, 68);
    }
    nav {
        padding: 10px 10px;
        .nav-container {
            display: $d-flex;
            justify-content: $justify-space-between;
            align-items: $align-center;

        }
        ul {
    
            display: $d-flex;
            list-style: none;
        }
        li {
            a {
                margin-right: 20px;
                text-decoration: none;
                font-size: 19px;
            }
        }
        .nav-logo {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }
}