

*,
*::before,
*::after {
    box-sizing: border-box;
}

// ====== Фоновое изображение на всю страницу ======
body.home {
    position: relative;
    min-height: 100vh;
    display: $d-flex;
    flex-direction: column;
    z-index: 0;
    padding: 0 20px;
    background-image: url('../images/backgrLika.webp');
    background-size: 100% auto;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        opacity: 1;
    }
}

// ====== Основная часть (занимает всё свободное пространство) ======
main {
    flex: 1;
}

// ====== Контент ======
.info-block {
    display: $d-flex;
    justify-content: flex-end;
    margin-top: 100px;
}



.main-text-container {
    max-width: 800px;
    width: 100%;
    margin-top: 55px;
    box-sizing: border-box;
    padding: 20px 20px 20px 60px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(219, 179, 197, 0.2);
    transition: all 0.3s ease;
    
    

    .main-text-container:hover {
        box-shadow: 0 10px 40px rgba(48, 25, 35, 0.3);
    }

    h1 {
        margin-bottom: 20px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        color: #fff;
        text-align: center;
    }

    p {
        margin-bottom: 20px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        color: black;
        text-align: center;
    }
}

